.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home {
  text-align: center;
}

.home-header {
  font-size: 70px;
  padding-top: 30px;
  font-weight: 700;
  color: white;
}

.home-h2 {
  font-size: 50px;
  padding-top: 20px;
  font-weight: 700;
  color: white;  
}

.contact-form {
  padding-top: 30px;
}

.foto-gallery {
  padding-top: 30px;
  width: 80%;
}

.portfolio-background {
  background-color: rgb(0, 0, 0);
}

.logo {
  height: 350px;
  align-content: center;
}


